<!--* Exercise 1: Angular Assignment: Dynamic Dropdowns using RxJS and ValueChanges
Objective:
- Create two dropdowns—one for continents and another for countries.
- When Continent is selected -  display the 3characters of the selected continents, when country is selected
display the selected country

-Improvements: The country dropdown should dynamically update based on the selected continent.

Requirements:
Dropdown Implementation:

1. - Create a dropdown containing a list of continents.
   - Create a second dropdown containing a list of countries.
2.Fetching Data:
   - Use http.get to fetch an array of objects (country-continent data).
   - Subscribe to the data stream using Observable$ | async to populate the dropdowns.
3.Handling Selections:

   - Use ValueChanges to display the selected continent and country.
   - When the user selects a continent, the second dropdown should be automatically populated with the countries belonging to that continent.

4.   Technical Hints:
Use Angular’s HttpClient to fetch data asynchronously.
Leverage FormControl and ValueChanges for reactive form handling.
Filter the list of countries dynamically based on the selected continent.

5. TODO (Enhancement):
Implement automatic population of the country dropdown based on the selected continent.

* BONUS points if you can remove all calls to .subscribe()
-->
<div>
  <!--*  BEST-Solution 1: Fire Observable via ASYNC, instead of subscribe into constructor -->
  <!-- Debug with JSON <pre>{{ (country$ | async) | json }}</pre> -->
  <select [formControl]="continentSelectCtrl">
    <option *ngFor="let option of (country$ | async)">
      {{option.continent}}
    </option>
  </select>
  <select [formControl]="countrySelectCtrl">
    <option *ngFor="let option of (country$ | async)">
      {{option.country}}
    </option>
  </select>

  <p>
    <!--* Solution 1: Use tap() to register data in controller -->
    You selected: {{continentSelection$ | async}} - {{countrySelection$ | async}}
    <!--* Solution 2: Use subscribe( in controller {{currentCountry}} -->
  </p>

  <!--* Solution 2 (old way: avoid)
  <select [formControl]="continentSelect">
    <option *ngFor="let option of countries">
      {{option.continent}}
    </option>
   </select>

   <select [formControl]="continentSelect">
    <option *ngFor="let option of countries">
      {{option.continent}}
    </option>
  </select>

    <select [formControl]="countrySelect">
    <option *ngFor="let option of countries">
      {{ option.country }}
    </option>
  </select>
 -->
   <!--* Solution 3: HARD-CODED
    <select [formControl]="continentSelect">
      <option>North America</option>
      <option>South Africa</option>
      <option>Europe</option>
    </select>
  -->
</div>
