<div>
  <h3>Exercise 1</h3>
  <!--*  BEST-Solution 1: Fire Observable via ASYNC, instead of subscribe into constructor -->
  <!-- Debug with JSON <pre>{{ (country$ | async) | json }}</pre> -->
  <form [formGroup]="selectionForm">
    <select [formControl]="continentSelectCtrl">
      <option *ngFor="let option of (continents$ | async)">
        {{option}}
      </option>
    </select>
    <select [formControl]="countrySelectCtrl">
      <option *ngFor="let option of countries">
        {{option.country}}
      </option>
    </select>
  </form>

  <p>
    <!--* Solution 1: Use tap() to register data in controller -->
    You selected: {{continentSelection$ | async}} - {{countrySelection$ | async}}
    <!--* Solution 2: Use subscribe( in controller {{currentCountry}} -->
  </p>

  <!--* Solution 2 (old way: avoid)
  <select [formControl]="continentSelect">
    <option *ngFor="let option of countries">
      {{option.continent}}
    </option>
   </select>

   <select [formControl]="continentSelect">
    <option *ngFor="let option of countries">
      {{option.continent}}
    </option>
  </select>

    <select [formControl]="countrySelect">
    <option *ngFor="let option of countries">
      {{ option.country }}
    </option>
  </select>
 -->
</div>
